@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}

.text {
  line-height: 150%;
  text-align: center;
}

.more {
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page__task-1 {
  padding: 40px 0 140px;
  background: #efefef;
}

.page__task-2 {
  margin-bottom: 60px;
}

.task-1__heading {
  font-weight: 700;
  font-size: 55px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.task-1__subheading {
  font-weight: 700;
  font-size: 45px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 49px;
}

.task-1__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -28px;
}

.task-1__column {
  padding: 0 37px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.task-1__item {
  padding: 30px;
  background: #dddddd;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-1__item:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 1px #000000;
          box-shadow: 0px 0px 15px 1px #000000;
  border-radius: 4px;
}

.task-1__item:hover .task-1__subtitle {
  color: #a10b0c;
}

.task-1__item:hover .task-1__text {
  color: #a10b0c;
}

.task-1__item:hover .task-1__more {
  color: #a10b0c;
}

.task-1__item:hover .task-1__more::after {
  background: url("./../img/arrow-hover.svg") 0 0/contain no-repeat;
}

.task-1__wrap-image {
  text-align: center;
  margin-bottom: 22px;
}

.task-1__image {
  max-width: 100%;
}

.task-1__subtitle {
  margin-bottom: 8px;
}

.task-1__text {
  margin-bottom: 23px;
}

.task-1__wrap-link {
  text-align: center;
}

.task-1__more {
  position: relative;
  display: inline-block;
  padding-right: 12px;
}

.task-1__more::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  width: 7px;
  height: 14px;
  background: url("./../img/arrow.svg") 0 0/contain no-repeat;
}

.task-2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-2__column {
  padding: 0 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.task-2__item {
  padding: 0 0 28px;
  background: #ffa89a;
  -webkit-box-shadow: 0px 0px 15px 1px #ff8875;
          box-shadow: 0px 0px 15px 1px #ff8875;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.task-2__item:hover {
  background: #524d4c;
  -webkit-box-shadow: 0px 0px 15px 1px #ff8875;
          box-shadow: 0px 0px 15px 1px #ff8875;
}

.task-2__item:hover .task-2__wrap-link {
  background: #00a72f;
}

.task-2__wrap-image {
  width: 300px;
  margin-bottom: 26px;
}

.task-2__image {
  max-width: 100%;
}

.task-2__subtitle {
  color: #ffffff;
  margin-bottom: 8px;
}

.task-2__text {
  color: #ffffff;
  margin-bottom: 16px;
}

.task-2__wrap-link {
  max-width: 150px;
  height: 38px;
  background: #43f074;
  border-radius: 30px;
  margin-left: 75px;
  text-align: center;
  padding-top: 7px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.task-2__more {
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #ffffff;
}
