@font-face {
  font-display: swap;
  font-family: "Open Sans";
  src: url("./../fonts/open-sans-v29-latin_cyrillic-regular.woff2") format("woff2"), url("./../fonts/open-sans-v29-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  src: url("./../fonts/open-sans-v29-latin_cyrillic-600.woff2") format("woff2"), url("./../fonts/open-sans-v29-latin_cyrillic-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  src: url("./../fonts/open-sans-v29-latin_cyrillic-700.woff2") format("woff2"), url("./../fonts/open-sans-v29-latin_cyrillic-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "iconfont";
  src: url("./../fonts/iconfont.woff2") format("woff2"), url("./../fonts/iconfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "iconfont";
  src: url("./../fonts/iconfont-logo.woff2") format("woff2"), url("./../fonts/iconfont-logo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before,
[class^="_icon-"]::after,
[class*=" _icon-"]::after {
  font-family: "iconfont";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-kubitos:before {
  content: "\e900";
}

._icon-logotype:before {
  content: "\e901";
}

* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.case {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.subheading {
  font-weight: 700;
  font-size: 45px;
  line-height: 150%;
  text-align: center;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}

.text {
  line-height: 150%;
  text-align: center;
}

.more {
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page__task-1 {
  padding: 40px 0 140px;
  background: #efefef;
}

.page__task-2 {
  padding-bottom: 60px;
}

.page__task-3 {
  padding: 60px 0 101px;
  background: #efefef;
}

.page__task-4 {
  padding: 50px 0 80px;
}

.page__task-5 {
  padding: 60px 0;
  background: #efefef;
}

.page__task-6 {
  padding: 60px 0;
}

.task-1__heading {
  font-weight: 700;
  font-size: 55px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.task-1__subheading {
  margin-bottom: 49px;
}

.task-1__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -28px;
}

.task-1__column {
  padding: 0 37px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.task-1__item {
  padding: 30px;
  background: #dddddd;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-1__item:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 1px #000000;
          box-shadow: 0px 0px 15px 1px #000000;
  border-radius: 4px;
}

.task-1__item:hover .task-1__subtitle {
  color: #a10b0c;
}

.task-1__item:hover .task-1__text {
  color: #a10b0c;
}

.task-1__item:hover .task-1__more {
  color: #a10b0c;
}

.task-1__item:hover .task-1__more::after {
  border-left-color: #a10b0c;
}

.task-1__wrap-image {
  text-align: center;
  margin-bottom: 22px;
}

.task-1__image {
  max-width: 100%;
}

.task-1__subtitle {
  margin-bottom: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.task-1__text {
  margin-bottom: 23px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.task-1__wrap-link {
  text-align: center;
}

.task-1__more {
  display: inline-block;
  position: relative;
  padding-right: 12px;
}

.task-1__more::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  border-left: 7px solid #000;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

@media (max-width: 1200px) {
  .task-1__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
  .task-1__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
    padding: 15px;
  }
}

@media (max-width: 1023px) {
  .task-1__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}

@media (max-width: 767px) {
  .task-1__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
  }
  .task-1__heading {
    font-size: 45px;
  }
  .task-1__subheading {
    font-size: 35px;
  }
}

@media (max-width: 424px) {
  .task-1__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.task-2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -59px;
}

.task-2__column {
  padding: 0 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.task-2__item {
  background: #ffa89a;
  -webkit-box-shadow: 0px 0px 15px 1px #ff8875;
          box-shadow: 0px 0px 15px 1px #ff8875;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-2__item:hover {
  background: #524d4c;
  -webkit-box-shadow: 0px 0px 15px 1px #ff8875;
          box-shadow: 0px 0px 15px 1px #ff8875;
}

.task-2__wrap-image {
  margin-bottom: 26px;
}

.task-2__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.task-2__body {
  padding: 26px 40px 28px 41px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-2__subtitle {
  color: #ffffff;
  margin-bottom: 8px;
}

.task-2__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #ffffff;
  margin-bottom: 16px;
}

.task-2__wrap-link {
  width: 150px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38px;
          flex: 0 0 38px;
  margin: 0 auto;
}

.task-2__more {
  height: 100%;
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #43f074;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.task-2__more:hover {
  background: #00a72f;
}

@media (max-width: 1200px) {
  .task-2__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -30px 0;
  }
  .task-2__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
    padding: 30px;
  }
}

@media (max-width: 1023px) {
  .task-2__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}

@media (max-width: 767px) {
  .task-2__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }
}

.task-3__subheading {
  margin-bottom: 53px;
}

.task-3__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -17.5px;
}

.task-3__column {
  padding: 0 17.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.task-3__item {
  padding: 10px 10px 52px;
  background: #ffa89a;
  border-radius: 8px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: background 0.3s ease 0s, color 0.3s ease 0s, border-radius 0.05s ease 0.25s;
  transition: background 0.3s ease 0s, color 0.3s ease 0s, border-radius 0.05s ease 0.25s;
  position: relative;
}

.task-3__item:hover {
  background: #a10b0c;
  border-radius: 8px 8px 0 0;
  color: #fff;
  -webkit-transition: background 0.3s ease 0s, color 0.3s ease 0s;
  transition: background 0.3s ease 0s, color 0.3s ease 0s;
}

.task-3__item:hover::after {
  height: 40px;
  background-color: #a10b0c;
}

.task-3__item:hover .task-3__wrap-link {
  display: block;
}

.task-3__item::after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0 0 8px 8px;
  background-color: #ffa89a;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.task-3__wrap-image {
  text-align: center;
  margin-bottom: 23px;
}

.task-3__image {
  max-width: 100%;
}

.task-3__subtitle {
  margin-bottom: 11px;
}

.task-3__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.task-3__wrap-link {
  display: none;
  text-align: center;
  position: absolute;
  left: calc(50% - 48px);
  bottom: -10px;
  z-index: 1;
}

.task-3__more {
  position: relative;
  display: inline-block;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-right: 12px;
}

.task-3__more::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  border-left: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.task-3__more:hover {
  color: #cff2a2;
}

.task-3__more:hover::after {
  border-left-color: #cff2a2;
}

@media (max-width: 1335px) {
  .task-3__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -25px -17.5px;
  }
  .task-3__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3334%;
            flex: 0 1 33.3334%;
    padding: 25px 17.5px;
  }
}

@media (max-width: 1023px) {
  .task-3__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media (max-width: 767px) {
  .task-3__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 65%;
            flex: 0 1 65%;
  }
}

@media (max-width: 424px) {
  .task-3__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }
}

.task-4__subheading {
  margin-bottom: 57px;
}

.task-4__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-4__column {
  padding: 0 37px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.task-4__item {
  position: relative;
  padding: 42px 19px 20px;
  background: #eaffaf;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-4__item:hover .task-4__text {
  color: #01b172;
}

.task-4__item:hover::before {
  height: 30px;
}

.task-4__item:hover::after {
  height: 30px;
}

.task-4__item::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 0;
  bottom: 100%;
  left: 0;
  background: #eaffaf;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.task-4__item::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 0;
  top: 100%;
  left: 0;
  background: #eaffaf;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.task-4__subtitle {
  line-height: 130%;
  color: #344650;
  margin-bottom: 12px;
}

.task-4__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #ed6060;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 20px;
}

.task-4__list {
  color: #344650;
  margin-bottom: 23px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.task-4__wrap-more {
  text-align: center;
}

.task-4__more {
  position: relative;
  display: inline-block;
  color: #ed6060;
}

.task-4__more::after {
  position: absolute;
  content: "";
  top: 9px;
  right: -14px;
  border-top: 7px solid #ed6060;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.task-4__more:hover {
  color: #01b172;
}

.task-4__more:hover::after {
  border-top-color: #01b172;
}

@media (max-width: 1023px) {
  .task-4__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -37px;
  }
  .task-4__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    padding: 37px;
  }
}

@media (max-width: 767px) {
  .task-4__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 65%;
            flex: 0 1 65%;
  }
  .task-4__subheading {
    font-size: 35px;
  }
}

@media (max-width: 424px) {
  .task-4__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }
}

.task-5__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.task-5__subheading {
  margin-bottom: 22px;
}

.task-5__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -37.5px;
}

.task-5__column {
  padding: 0 37.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3334%;
          flex: 0 1 33.3334%;
}

.task-5__item {
  padding: 33px 28px 23px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 2px solid transparent;
  border-radius: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-5__item:hover {
  background: #fff;
  border-color: #000;
  -webkit-box-shadow: 1px 1px 10px rgba(88, 26, 168, 0.75);
          box-shadow: 1px 1px 10px rgba(88, 26, 168, 0.75);
}

.task-5__item:hover .task-5__wrap-icon {
  color: #581aa8;
}

.task-5__item:hover .subtitle {
  color: #581aa8;
}

.task-5__item:hover .task-5__link {
  color: #581aa8;
}

.task-5__wrap-icon {
  width: 50px;
  height: 50px;
  background: rgba(88, 26, 168, 0.4);
  border-radius: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 9px;
}

.task-5__wrap-icon::before {
  position: absolute;
  font-size: 30px;
  -webkit-transform: translate(30%, 30%);
          transform: translate(30%, 30%);
}

.task-5__subtitle {
  text-align: left;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 16px;
}

.task-5__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 15px;
  color: #666;
  text-align: left;
  margin-bottom: 25px;
}

.task-5__link {
  font-size: 11px;
  line-height: 150%;
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.task-6__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -23.5px -55px;
}

.task-6__column {
  padding: 23.5px 55px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.task-6__item {
  max-width: 200px;
  height: 80px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #ffff99;
}

.task-6__item::before {
  position: absolute;
  font-size: 30px;
  -webkit-transform: translate(20%, 90%);
          transform: translate(20%, 90%);
}

.task-6__item:hover {
  background-color: #7c3030;
  color: #fff;
}
