@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.subheading {
  font-weight: 700;
  font-size: 45px;
  line-height: 150%;
  text-align: center;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}

.text {
  line-height: 150%;
  text-align: center;
}

.more {
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page__task-1 {
  padding: 40px 0 140px;
  background: #efefef;
}

.page__task-2 {
  padding-bottom: 60px;
}

.page__task-3 {
  padding: 60px 0 101px;
  background: #efefef;
}

.task-1__heading {
  font-weight: 700;
  font-size: 55px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.task-1__subheading {
  margin-bottom: 49px;
}

.task-1__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -28px;
}

.task-1__column {
  padding: 0 37px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.task-1__item {
  padding: 30px;
  background: #dddddd;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-1__item:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 1px #000000;
          box-shadow: 0px 0px 15px 1px #000000;
  border-radius: 4px;
}

.task-1__item:hover .task-1__subtitle {
  color: #a10b0c;
}

.task-1__item:hover .task-1__text {
  color: #a10b0c;
}

.task-1__item:hover .task-1__more {
  color: #a10b0c;
}

.task-1__item:hover .task-1__more::after {
  border-left-color: #a10b0c;
}

.task-1__wrap-image {
  text-align: center;
  margin-bottom: 22px;
}

.task-1__image {
  max-width: 100%;
}

.task-1__subtitle {
  margin-bottom: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.task-1__text {
  margin-bottom: 23px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.task-1__wrap-link {
  text-align: center;
}

.task-1__more {
  display: inline-block;
  position: relative;
  padding-right: 12px;
}

.task-1__more::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  border-left: 7px solid #000;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

@media (max-width: 1200px) {
  .task-1__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
  .task-1__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
    padding: 15px;
  }
}

@media (max-width: 1023px) {
  .task-1__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}

@media (max-width: 767px) {
  .task-1__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
  }
  .task-1__heading {
    font-size: 45px;
  }
  .task-1__subheading {
    font-size: 35px;
  }
}

@media (max-width: 424px) {
  .task-1__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.task-2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -59px;
}

.task-2__column {
  padding: 0 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.task-2__item {
  background: #ffa89a;
  -webkit-box-shadow: 0px 0px 15px 1px #ff8875;
          box-shadow: 0px 0px 15px 1px #ff8875;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-2__item:hover {
  background: #524d4c;
  -webkit-box-shadow: 0px 0px 15px 1px #ff8875;
          box-shadow: 0px 0px 15px 1px #ff8875;
}

.task-2__wrap-image {
  margin-bottom: 26px;
}

.task-2__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.task-2__body {
  padding: 26px 40px 28px 41px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-2__subtitle {
  color: #ffffff;
  margin-bottom: 8px;
}

.task-2__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #ffffff;
  margin-bottom: 16px;
}

.task-2__wrap-link {
  width: 150px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38px;
          flex: 0 0 38px;
  margin: 0 auto;
}

.task-2__more {
  height: 100%;
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #43f074;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.task-2__more:hover {
  background: #00a72f;
}

@media (max-width: 1200px) {
  .task-2__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -30px 0;
  }
  .task-2__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
    padding: 30px;
  }
}

@media (max-width: 1023px) {
  .task-2__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}

@media (max-width: 767px) {
  .task-2__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }
}

.task-3__subheading {
  margin-bottom: 53px;
}

.task-3__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -17.5px;
}

.task-3__column {
  padding: 0 17.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.task-3__item {
  padding: 10px 10px 52px;
  background: #ffa89a;
  border-radius: 8px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.task-3__item:hover {
  background: #a10b0c;
  color: #fff;
}

.task-3__wrap-image {
  text-align: center;
  margin-bottom: 23px;
}

.task-3__image {
  max-width: 100%;
}

.task-3__subtitle {
  margin-bottom: 11px;
}

.task-3__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.task-3__wrap-link {
  display: none;
  text-align: center;
}

.task-3__more {
  position: relative;
  display: inline-block;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-right: 12px;
}

.task-3__more::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  border-left: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

@media (max-width: 1500px) {
  .task-3__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -17.5px 0;
  }
  .task-3__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 26%;
            flex: 0 1 26%;
    padding: 17.5px;
  }
}
