.page {
    & > *:not(:nth-child(6)) {
        display: none;
    }

    &__task-1 {
        padding: 40px 0 140px;
        background: $backgroundGrey;
    }

    &__task-2 {
        padding-bottom: 60px;
    }

    &__task-3 {
        padding: 60px 0 101px;
        background: $backgroundGrey;
    }

    &__task-4 {
        padding: 50px 0 80px;
    }

    &__task-5 {
        padding: 60px 0;
        background: $backgroundGrey;
    }

    &__task-6 {
        padding: 60px 0;
    }
}
