.page {
    &__task-1 {
        padding: 40px 0 140px;
        background: #efefef;
    }

    &__task-2 {
        padding-bottom: 60px;
    }

    &__task-3 {
        padding: 60px 0 101px;
        background: #efefef;
    }

    &__task-4 {
        padding: 50px 0 80px;
    }
}
