.task-6 {
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -23.5px -70px;
    }

    &__column {
        padding: 23.5px 55px;
        flex: 0 1 20%;

        svg {
            .back {
                transition: all 0.3s ease 0s;
            }
            .border {
                transition: all 0.3s ease 0s;
            }
            .text-svg {
                transition: all 0.3s ease 0s;
            }
        }

        &:hover {
            svg {
                .back {
                    fill: #7c3030;
                }
                .border {
                    stroke: #fff;
                }
                .text-svg {
                    fill: #fff;
                }
            }
        }
    }
}
