.task-1 {
    &__heading {
        font-weight: 700;
        font-size: 55px;
        line-height: 150%;
        text-align: center;
        text-transform: capitalize;
    }

    &__subheading {
        font-weight: 700;
        font-size: 45px;
        line-height: 150%;
        text-align: center;
    }

    &__row {
        display: flex;
        margin: 0 -28px;
    }

    &__column {
        padding: 37px;
        flex: 0 1 25%;
    }

    &__item {
        padding: 30px;
        background: #dddddd;
        transition: all 0.3s ease 0s;

        &:hover {
            background: #ffffff;
            box-shadow: 0px 0px 15px 1px #000000;
            border-radius: 4px;
            .task-1__subtitle {
                color: #a10b0c;
            }
            .task-1__text {
                color: #a10b0c;
            }
            .task-1__more {
                color: #a10b0c;
                &::after {
                    background: url("./../img/arrow-hover.svg") 0 0 / contain no-repeat;
                }
            }
        }
        display: flex;
        flex-direction: column;
    }

    &__wrap-image {
        text-align: center;

        margin-bottom: 22px;
    }

    &__image {
        max-width: 100%;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        text-align: center;

        margin-bottom: 8px;
    }

    &__text {
        line-height: 150%;
        text-align: center;

        margin-bottom: 23px;
    }

    &__wrap-link {
        text-align: center;
    }

    &__more {
        position: relative;
        display: inline-block;

        font-weight: 600;
        font-size: 15px;
        line-height: 150%;
        color: #000000;

        padding-right: 12px;

        transition: all 0.3s ease 0s;

        &::after {
            content: "";
            position: absolute;
            top: 6px;
            right: 0;

            width: 7px;
            height: 14px;
            background: url("./../img/arrow.svg") 0 0 / contain no-repeat;
        }
    }
}
