.task-4 {
    &__subheading {
        margin-bottom: 57px;
    }

    &__row {
        display: flex;
    }

    &__column {
        padding: 0 37px;
        flex: 0 1 25%;
    }

    &__item {
        position: relative;
        padding: 42px 19px 20px;
        background: #eaffaf;

        height: 100%;
        display: flex;
        flex-direction: column;

        &:hover {
            .task-4__text {
                color: #01b172;
            }
            &::before {
                height: 30px;
            }
            &::after {
                height: 30px;
            }
        }

        &::before {
            position: absolute;
            content: " ";
            width: 100%;
            height: 0;

            bottom: 100%;
            left: 0;
            background: #eaffaf;

            transition: all 0.3s ease 0s;
        }

        &::after {
            position: absolute;
            content: " ";
            width: 100%;
            height: 0;

            top: 100%;
            left: 0;
            background: #eaffaf;

            transition: all 0.3s ease 0s;
        }
    }

    &__subtitle {
        line-height: 130%;
        color: #344650;

        margin-bottom: 12px;
    }

    &__text {
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #ed6060;

        flex: 1 1 auto;
        transition: all 0.3s ease 0s;

        margin-bottom: 20px;
    }

    &__list {
        color: #344650;
        margin-bottom: 23px;
    }

    &__point {
    }

    &__wrap-more {
        text-align: center;
    }

    &__more {
        position: relative;
        display: inline-block;
        color: #ed6060;

        &::after {
            position: absolute;
            content: "";
            top: 9px;
            right: -15px;

            border: 7px solid transparent;
            border-top: 7px solid #ed6060;
            border-bottom: 7px solid transparent;

            transition: all 0.3s ease 0s;
        }

        &:hover {
            color: #01b172;

            &::after {
                border: 7px solid transparent;
                border-top: 7px solid #01b172;
                border-bottom: 7px solid transparent;
            }
        }
    }
}

@media (max-width: 1023px) {
    .task-4 {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__column {
            flex: 0 1 40%;
            padding: 37px;
        }
    }
}

@media (max-width: 767px) {
    .task-4 {
        &__column {
            flex: 0 1 65%;
        }

        &__subheading {
            font-size: 35px;
        }
    }
}

@media (max-width: 424px) {
    .task-4 {
        &__column {
            flex: 0 1 90%;
        }
    }
}
