.task-3 {
    &__subheading {
        margin-bottom: 53px;
        margin: 0 -17.5px;
    }

    &__row {
        display: flex;
    }

    &__column {
        padding: 0 17.5px;
        flex: 0 1 20%;
    }

    &__item {
        padding: 10px 10px 52px;
        background: #ffa89a;
        border-radius: 8px;

        height: 100%;
        display: flex;
        flex-direction: column;

        transition: all 0.3s ease 0s;

        &:hover {
            background: #a10b0c;
            color: #fff;
        }
    }

    &__wrap-image {
        text-align: center;
        margin-bottom: 23px;
    }

    &__image {
    }

    &__subtitle {
        margin-bottom: 11px;
    }

    &__text {
    }

    &__wrap-link {
        display: none;
        text-align: center;
    }

    &__more {
        position: relative;
        display: inline-block;

        padding-right: 12px;

        &::after {
            content: "";
            position: absolute;
            top: 6px;
            right: 0;

            border-left: 7px solid #fff;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
        }
    }
}
