.task-5 {
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 20px;
        box-sizing: content-box;
    }
    &__subheading {
        margin-bottom: 22px;
    }

    &__row {
        display: flex;
        margin: 0px -37.5px;
    }

    &__column {
        padding: 0 37.5px;
        flex: 0 1 33.3334%;
    }

    &__item {
        padding: 33px 28px 23px;

        transition: all 0.3s ease 0s;
        border: 2px solid transparent;
        border-radius: 10px;

        height: 100%;
        display: flex;
        flex-direction: column;

        &:hover {
            background: #fff;
            border-color: #000;
            box-shadow: 1px 1px 10px rgba(88, 26, 168, 0.75);

            .task-5__wrap-icon {
                color: #581aa8;
            }
            .subtitle {
                color: #581aa8;
            }
            .task-5__link {
                color: #581aa8;
            }
        }
    }

    &__wrap-icon {
        width: 50px;
        height: 50px;
        background: rgba(88, 26, 168, 0.4);
        border-radius: 15px;

        transition: all 0.3s ease 0s;

        &::before {
            position: absolute;
            font-size: 30px;
            transform: translate(30%, 30%);
        }

        margin-bottom: 9px;
    }

    &__subtitle {
        text-align: left;
        transition: all 0.3s ease 0s;

        margin-bottom: 16px;
    }

    &__text {
        flex: 1 1 auto;
        font-size: 15px;
        color: #666;
        text-align: left;

        margin-bottom: 25px;
    }

    &__wrap-link {
    }

    &__link {
        font-size: 11px;
        line-height: 150%;
        color: #000000;

        transition: all 0.3s ease 0s;
    }
}
