.task-2 {
    &__row {
        display: flex;

        margin-top: -59px;
    }

    &__column {
        padding: 0 30px;
        flex: 0 1 25%;
    }

    &__item {
        background: #ffa89a;
        box-shadow: 0px 0px 15px 1px #ff8875;
        transition: all 0.3s ease 0s;

        height: 100%;
        display: flex;
        flex-direction: column;

        &:hover {
            background: #524d4c;
            box-shadow: 0px 0px 15px 1px #ff8875;
        }
    }

    &__wrap-image {
        margin-bottom: 26px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__body {
        padding: 26px 40px 28px 41px;

        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__subtitle {
        color: #ffffff;

        margin-bottom: 8px;
    }

    &__text {
        flex: 1 1 auto;
        color: #ffffff;

        margin-bottom: 16px;
    }

    &__wrap-link {
        width: 150px;
        flex: 0 0 38px;

        margin: 0 auto;
    }

    &__more {
        height: 100%;
        width: 100%;

        font-weight: 600;
        font-size: 15px;
        line-height: 150%;
        color: #ffffff;

        display: flex;
        justify-content: center;
        align-items: center;

        background: #43f074;
        border-radius: 30px;
        transition: all 0.3s ease 0s;

        &:hover {
            background: #00a72f;
        }
    }
}

@media (max-width: 1200px) {
    .task-2 {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
            margin: -30px 0;
        }

        &__column {
            flex: 0 1 35%;
            padding: 30px;
        }
    }
}

@media (max-width: 1023px) {
    .task-2 {
        &__column {
            flex: 0 1 45%;
        }
    }
}

@media (max-width: 767px) {
    .task-2 {
        &__column {
            flex: 0 1 90%;
        }
    }
}
