.task-3 {
    &__subheading {
        margin-bottom: 53px;
    }

    &__row {
        display: flex;
        margin: 0 -17.5px;
    }

    &__column {
        padding: 0 17.5px;
        flex: 0 1 20%;
    }

    &__item {
        padding: 10px 10px 52px;
        background: #ffa89a;
        border-radius: 8px;

        height: 100%;
        display: flex;
        flex-direction: column;

        transition: background 0.3s ease 0s, color 0.3s ease 0s, border-radius 0.05s ease 0.25s;

        position: relative;

        &:hover {
            background: #a10b0c;
            border-radius: 8px 8px 0 0;
            color: #fff;
            transition: background 0.3s ease 0s, color 0.3s ease 0s;
            &::after {
                height: 40px;
                background-color: #a10b0c;
            }
            .task-3__wrap-link {
                // display: flex;
                display: block;
            }
        }

        &::after {
            content: "";
            width: 100%;
            height: 0;

            position: absolute;
            top: 100%;
            left: 0;

            border-radius: 0 0 8px 8px;
            background-color: #ffa89a;

            transition: all 0.3s ease 0s;
        }
    }

    &__wrap-image {
        text-align: center;
        margin-bottom: 23px;
    }

    &__image {
        max-width: 100%;
    }

    &__subtitle {
        margin-bottom: 11px;
    }

    &__text {
        flex: 1 1 auto;
    }

    &__wrap-link {
        display: none;
        text-align: center;

        position: absolute;
        left: calc(50% - 48px);
        bottom: -10px;
        z-index: 1;

        // width: 100%;
        // justify-content: center;
    }

    &__more {
        position: relative;
        display: inline-block;
        color: #fff;

        transition: all 0.3s ease 0s;

        padding-right: 12px;

        &::after {
            content: "";
            position: absolute;
            top: 6px;
            right: 0;

            border-left: 7px solid #fff;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;

            transition: all 0.3s ease 0s;
        }

        &:hover {
            color: #cff2a2;
            &::after {
                border-left-color: #cff2a2;
            }
        }
    }
}

@media (max-width: 1335px) {
    .task-3 {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
            margin: -25px -17.5px;
        }

        &__column {
            flex: 0 1 33.3334%;
            padding: 25px 17.5px;
        }
    }
}

@media (max-width: 1023px) {
    .task-3 {
        &__column {
            flex: 0 1 40%;
        }
    }
}

@media (max-width: 767px) {
    .task-3 {
        &__column {
            flex: 0 1 65%;
        }
    }
}

@media (max-width: 424px) {
    .task-3 {
        &__column {
            flex: 0 1 90%;
        }
    }
}
