// * ===== fonts ===== * //
@import "_fonts";
@import "_iconfont";

// * ===== null ===== * //
@import "_variables";
@import "_nullstyle";

body {
    font-family: $fontOpenSans;
}

// * ===== bem blocks ===== * //
@import "_blocks";

// * ===== header ===== * //

// * ===== main ===== * //
@import "_page";

// * ===== all sections ===== * //
@import "_task-1";
@import "_task-2";
@import "_task-3";
@import "_task-4";
@import "_task-5";

// * ===== footer ===== * //
