// * ===== fonts ===== * //
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

// * ===== null ===== * //
@import "_nullstyle";

body {
    font-family: "Open Sans", sans-serif;
}

// * ===== bem blocks ===== * //
@import "_blocks";

// * ===== header ===== * //

// * ===== main ===== * //
@import "_page";

// * ===== all sections ===== * //
@import "_task-1";
@import "_task-2";
@import "_task-3";

// * ===== footer ===== * //
